.page-container {
    margin: 40px;
    padding: 0px;
    height: unset;
}

.news {
    color: white;
    padding: 7px;
    border: solid 1px gray;
    text-align: center;
    box-shadow: 4px 4px 15px 0px black;
}

.left-panel {
    padding: 20px;
    margin: 0px;
    width: 50%;

}

.bar {
    overflow: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-bottom: solid 1px gray;
}
.bar > h1{
    font-size: 20px;
    color: white;
    padding: 12px;
    background: none;
    border: none;
}
.bar > button{
    color: gray;
    padding: 12px;
    background: none;
    border: none;
}
.bar > button:hover {
    color: white;
}
.active > button{
    color: white;
}

.article > button {
    padding: 0px;
    background: none;
    border: none;
    text-align: left;
    font-weight: bold;
    color: gray;
}
.article > button:hover {
    color: black;
    cursor: pointer;
}
.article > button:active {
    color: gray;
}

.right-panel {
    padding: 20px;
    margin: 0px;
    width: 50%;

}
.articles {
    border: solid 1px gray;
    background: white;
    box-shadow: 4px 4px 15px 0px black;
}
.full-size-article > h1 {
    font-size: 30px;
}

img {
    width: 100%;
}
.box {
    margin: 20px;
}
.box > .button {
    padding: 10px;
    border: none;
    color: lightgray;
}
.box > .button:hover {
    color: white;
}

.box > p {
    margin-top: 15px;
}

.article, .full-size-article{
    border: solid 1px gray;
    border-radius: 7px;
    padding: 8px;
    margin: 5px;
}
.full-size-article {
    margin: 0px;
    padding: 0px;
    border: solid 1px gray;
    border-radius: 0px;
    background: white;
    box-shadow: 4px 4px 15px 0px black;
}

@media screen and (max-width: 570px){
    #search-bar {
        width: 100%;
    }
    #search-btn {
        width: 100%;
    }
}

@media screen and (max-width: 570px){
    .news > h1{
        font-size: 16px;
    }
    .news > p{
        font-size: 11px;
    }
    .bar > h1{
        font-size: 14px;
    }
    .bar > button{
        font-size: 11px;
    }
    .page-container{
        margin: 10px;
    }
    .article > button{
        font-size: 14px;
    }
    .article > p{
        font-size: 12px;
    }
    .box > h1{
        font-size: 18px;
    }
    .box > p{
        font-size: 15px;
    }
}




